# constraints.txt — manter compatibilidade com torch 2.1.x (wheels cu121)
numpy==1.26.4
numba<0.60
llvmlite<0.43
scipy<1.13
# (opcional) se usar librosa
librosa<=0.10.2.post1
# (opcional) se usar onnxruntime
onnxruntime<1.17
