# Resiliência
tenacity==8.2.2
# API
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart==0.0.6
aiofiles==23.2.1

# Celery + Redis
celery==5.3.4
redis==5.0.1

# Audio Processing
numpy==1.24.4

# Transcrição com Whisper
torch==2.1.0
torchaudio==2.1.0
faster-whisper

# Tests
requests==2.32.5
